/* Topbar Menu CSS */

#topbar {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 1fr;
	align-items: center;
	z-index: 999;
	transition: height 0.6s, background-color 0.6s;
	backdrop-filter: blur(15px);
	user-select: none;
}
#topbar.active {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
}

#topbar .logo {
	width: auto;
	text-decoration: none;
	margin-left: 15px;
	font-family: "Big Space";
	font-size: 36px;
	line-height: 30px;
	font-style: italic;
	color: white;
}

#topbar .logo span:hover::after {
	content: ".com";
}

#ham {
	width: 60px;
	height: 60px;
	justify-self: end;
	cursor: pointer;
	transition: transform 0.6s, opacity 0.5s;
}

#ham path {
	fill: none;
	transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s, stroke 0.5s 0.3s;
	stroke: white;
	stroke-width: 4;
}
#topbar:has(.active) #ham {
	transform: rotate(45deg);
}

#ham path:nth-child(1) {
	stroke-dasharray: 40 160;
}
#ham path:nth-child(2) {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 0.3s, stroke 0.5s 0.3s;
}
#ham path:nth-child(3) {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 0.3s, stroke-dashoffset 0.3s, stroke 0.5s 0.3s;
}
#topbar:has(.active) #ham path:nth-child(1) {
	stroke-dashoffset: -64px;
}
#topbar:has(.active) #ham path:nth-child(2) {
	transform: rotate(90deg);
}
#topbar:has(.active) #ham path:nth-child(3) {
	stroke-dashoffset: -64px;
}
#topbar:not(.active) > .menu-container a {
	transition: opacity 0s;
}

#topbar .menu-container {
	visibility: hidden;
	grid-area: 2 / 1 / 3 / 3;
	display: grid;
	place-items: center;
	padding-bottom: 60px;
}

#topbar .menu-container a {
	font-family: "Montserrat";
	font-size: 40px;
	opacity: 0;
	color: white;
	text-decoration: none;
	text-align: center;
	transition-delay: 0s;
	transition: opacity 0.4s;
	margin-bottom: 15px;
}

#topbar.active .menu-container {
	opacity: 1;
	visibility: visible;
}

#topbar.active .menu-container a {
	opacity: 1;
}

#topbar.active .menu-container a:nth-child(1) {
	transition-delay: 0.7s;
}
#topbar.active .menu-container a:nth-child(2) {
	transition-delay: 0.8s;
}
#topbar.active .menu-container a:nth-child(3) {
	transition-delay: 0.9s;
}
#topbar.active .menu-container a:nth-child(4) {
	transition-delay: 1s;
}
